# discord
discord.py[speed]>=2.3.2

# discord.py[speed] @ git+https://github.com/Rapptz/discord.py.git # >= 2.4.0
# jishaku @ git+https://github.com/Gorialis/jishaku.git

# database
alembic>=1.13.1
# SQLAlchemy>=2.0.19,<3
asyncpg>=0.29.0
# aiosqlite>=0.19.0 # development (faster)
# cryptography>=41.0.1 # encryption
# alembic>=1.11,<2.0 # migrations

# caching
# async_lru>=2.0.3

# environment
# python-dotenv

# web scraping
# beautifulsoup4
# lxml

# image manipulation
pillow>=10.3.0,<11

# utils
psutil>=5.9.8,<6
pygit2>=1.14.1,<2

# speedups
# uvloop; sys_platform != 'win32'

# valorantx
# valorantx[speed] @ git+https://${GITHUB_TOKEN}@github.com/staciax/valorantx.git@patch-7.x-legacy # may be public soon?